h1 Categories
#select_box.dropdown
    .select-input.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        | Select
        .caret
    ul.dropdown.hidden.dropdown-menu

#foods
